--- 
--- 

/* Imports */

@import "hamburgers";

/* Common Variable Definitions */



/* General Site Styles */



/* Hamburger Menu Toggle (https://jonsuh.com/hamburgers) */

.hamburger,
.hamburger:active,
.hamburger:visited,
.hamburger:focus
{
    top     : 5px;
    left    : 0px;    
    border  : none;
    padding : 10px;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after
{
    color            : #dedede;
    background-color : #dedede;
}

/* General */

/* About Page */

.about
{
    margin-bottom : 6px;

    p
    {
        margin-bottom: 20px;
    }

    .top-border
    {
        background  : #3CA2A2;
        margin-top  : -20px;
        margin-left : 45px;
        height      : 5px;
        width       : 100%;
    }

    .gravatar
    {
        text-align : left;
    }

    .content
    {
        text-align : justify;
    }

    @media (max-width: 991px)
    {
        .top-border
        {
            width: 97%;
        }
    }

    @media (max-width: 534px)
    {        
        .gravatar
        {
            margin-top: -20px;
        }
    }
}