<div class="footer clearfix">
  <div class="left">
    {{ site.footer_left }}
  </div>
  <div class="right">
    {{ site.footer_right }}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% javascript_asset_tag site %}
- /_assets/scripts/jquery.mmenu.min.all.js
- /_assets/scripts/theme.js
{% endjavascript_asset_tag %}

<script>
    var adjustArticleFontSizes = {% if page.make-smaller-titles %} true {% else %} false {% endif %};
       
    $(function() {
        Theme.init({
            adjustArticleListFontSizes : adjustArticleFontSizes,
            slideMenuSelector          : '#siteMenu',
            slideMenuTriggerSelector   : '.menu-button',
            articleContainerSelector   : '.articles',
            articleTitleSelector       : 'a',
            articleDateSelector        : 'small',
            activeMenuToggleClass      : 'is-active'
        });
    });
</script>


{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
