<a href="#" class="menu-button slide-menu-item hamburger hamburger--collapse">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</a>

<nav id="siteMenu">
  <div>    
    <p class="slide-menu-item">{{ site.title }}</p>

    <ul class="pages mm-list">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/about/"><i class="fa fa-user-circle-o"></i> About</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
    </ul>

    {% include social-links.html %}
  </div>
</nav>