<a href="#" class="menu-button slide-menu-item hamburger hamburger--collapse">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</a>

<nav id="siteMenu">
  <div>    
    <p class="slide-menu-item">{{ site.title }}</p>

    <ul class="pages mm-list">
      <li><a href="{{ site.baseurl }}/"><i class="fa-solid fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/about/"><i class="fa-solid fa-user"></i> About</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa-solid fa-archive"></i> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa-solid fa-search"></i> Search</a></li>
    </ul>

    <p class="sitemenu-footer">
      <a href="{{ site.baseurl }}/community.html">Community</a> |
      <a href="{{ site.baseurl }}/privacy.html">Privacy</a>
    </p>

    {% include social-links.html %}
  </div>
</nav>